body {
    background-image: url("../images/back.png");
    font-family: Arial, Helvetica, sans-serif; 
}

.navbar {
    background-color: #333333;
    height: 70px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-brand {
    z-index: 2;
    position: relative;
    top: 2rem;
    margin-left: 8%;
}

.navbar-brand img {
    width: 128px;
}

.card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
  }

.btn-outline-success {
    background-color: #BE1E2D;
    outline: 0px;
    border: 0px;
    color: #ffffff;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
}

.btn-outline-success:hover {
    background-color: rgb(248, 82, 99);
    border-color: rgb(119, 12, 22);
}

.carousel-item {
    max-width: 100%;
    height: auto;
}

.carousel.slide {
    -webkit-filter:
        drop-shadow(8px 8px 10px black);
    filter: 
        drop-shadow(8px 8px 10px black); 
}

h1 {
    font-weight: bold;
    text-align: center;
}

.card {
    -webkit-filter:
    drop-shadow(4px 4px 5px black);
    filter: 
    drop-shadow(4px 4px 5px black); 
    background-color: rgb(250, 249, 248);
}

cite {
    color: #ffffff;
    
}

.copyright {
 text-align: right;
 font-weight: bold;
 color: #ffffff;
 margin: auto 0;
 font-size: 18pt;
}

.contactus {
    color: #ffffff;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    text-align: center;
}

.card-header {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    color: #ffffff;
    background-color: #333333
}

h2 {
    font-weight: bold;
    font-size: 18pt;
}

.article {
    line-height: 1.5rem;
}
a {
    color: #333333;
}
a:visited {
    color: #BE1E2D;
}
a:hover {
    color: #BE1E2D;
}

.bg-primary {
    background-color: #BE1E2D!important;
}

#property {
    background-color: #BE1E2D;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

.meal-plan-select {
    width: 50%;
}

.property2 {
    background-color: #BE1E2D;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    -webkit-filter: drop-shadow(4px 4px 5px black);
    filter: drop-shadow(4px 4px 5px black);
    border-radius: .25rem;
}
